.filters--wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100dvh;
    transform: translateY(100%);

    background-color: #ffffff;
    z-index: 1000;
    overflow-y: auto;

    transition: transform 0.3s ease-in-out;

    &.closed{
        transform: translateY(100%);
        pointer-events: none;
    }

    &.open{
        transform: translateY(0);
        pointer-events: auto;
    }

    .filters--header{
        padding: 16px;
    }

    .author-filter--container{
    padding: 16px;

    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    .author-filter--item{
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 4px 16px;
        // border: 1px solid #ccc;
        border-radius: 100px;
        background-color: #ffffff;
        box-shadow: 0 3px 7px #0000001f;
        cursor: pointer;

        &:active{
            background-color: #e0e0e0;
        }

        &.selected{

            border: 1px solid #7e7e7e;
            font-weight: 500;

        }
    }
}
}
