.display-page-wrapper{
  height: 100%;

  padding: 0 25%;
  display: flex;
  justify-content: center;

  flex-direction: column;

  .skeleton-container{
    display: flex;
    flex-direction: column;

    gap: 16px;
  }

  .message-container{
    font-weight: 600;
    font-size: xxx-large;
    text-align: center;
    word-wrap: break-word;
  }
}
