.td-quote-card--container{
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    background-color: white;

    .quote--value{
        font-size: 14px;
        
    }
    .quote--by{
        font-size: 12px;
        color: gray;
    }

}