.config-page-wrapper{
  padding: 0 25%;
  display: flex;
  justify-content: center;

  flex-direction: column;

  gap: 16px;
}

.controls-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.table-cell{
  padding: 4px 0;
}

.new-quote-button{
  width: fit-content;
}

.form-container{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;

  width: 100%;


  .new-quote-field{
    flex: 1;
  }
}

@media only screen and (max-width:70em)   {
  .config-page-wrapper{
    padding: 0 5%;

  }

  .form-container{
    flex-direction: column;
    align-items: start;
    justify-content: center;

    .new-quote-field{
      width: 100%;
    }
  }
}

