.config-page-wrapper {
  height: 100%;
  padding: 25px 25% 0 25%;
  display: flex;

  flex-direction: column;

  gap: 16px;

  .logout-button{
    width: fit-content;
  }
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.table-cell {
  padding: 4px 0;
}

.new-quote-button {
  width: fit-content;
}

.form-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;

  width: 100%;


  .new-quote-field {
    flex: 1;
  }
}

.login-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;

    .login-button-container {
      display: flex;
      gap: 16px;
      align-items: center;
    }
  }

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #3fb53f;
  }
}

@media only screen and (max-width: 70em) {
  .config-page-wrapper {
    padding: 5% 5% 0 5%;

  }

  .form-container {
    flex-direction: column;
    align-items: start;
    justify-content: center;

    .new-quote-field {
      width: 100%;
    }
  }
}

