.config-page-wrapper{
  padding: 0 25%;
  display: flex;
  justify-content: center;

  flex-direction: column;

  gap: 16px;
}

.controls-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.table-cell{
  padding: 4px 0;
}

.new-quote-button{
  width: fit-content;
}
