<div class="config-page-wrapper">
  <table mat-table [dataSource]="quotes()" class="mat-elevation-z8">
    <ng-container matColumnDef="quote">
      <th mat-header-cell *matHeaderCellDef> Quote</th>
      <td mat-cell *matCellDef="let quote" class="table-cell">
        @if (quote._id === rowToUpdate()) {
          <mat-form-field subscriptSizing="dynamic">
            <input matInput type="text" [(ngModel)]="quote.quote">
          </mat-form-field>
        } @else {
          {{ quote.quote }}
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="display">
      <th mat-header-cell *matHeaderCellDef> Show</th>
      <td mat-cell *matCellDef="let quote">
        <mat-checkbox [checked]="quote.display" (change)="updateDisplayValue(quote, $event.checked)"></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="controls">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let quote">
        <div class="controls-container">
          @if (quote._id === rowToUpdate()) {
            <button mat-icon-button (click)="updateQuote(quote._id)">
              <mat-icon fontIcon="check"></mat-icon>
            </button>
          } @else {
            <button mat-icon-button (click)="setQuoteInUpdateState(quote._id)">
              <mat-icon fontIcon="edit"></mat-icon>
            </button>
            <button mat-icon-button (click)="deleteQuote(quote._id)">
              <mat-icon fontIcon="delete"></mat-icon>
            </button>
          }
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  @if(!showNewRow()){
    <button mat-raised-button class="new-quote-button" (click)="openDialog()">Add quote</button>
  } @else {
    <div class="form-container">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Quote</mat-label>
        <input matInput type="text" [(ngModel)]="newQuote">
      </mat-form-field>
      <mat-checkbox [(ngModel)]="newQuoteDisplay">Show</mat-checkbox>
      <button mat-raised-button (click)="addQuote()">Save</button>
    </div>
  }

</div>
