/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Avenir", sans-serif;
  background-color: #f6f6f6;
  font-size: 14px;
}

body.filters--open {
  overflow: hidden;
}

html, body { height: 100%; width: 100dvw; }

h3{
  margin: 0;
}
