/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Alta Light";
  src: url(../src/assets/fonts/Alta_light.otf);
}

html, body{
  font-family: "Alta Light", sans-serif;
}

body{
  margin:0;
}
